$primary: #6a5acd;
$text: #333333;
$head: #4a4e69;
$btn: #6a5acd;
$btn-hover: #3a3081;
$white: #fff;
$bg-gradient: linear-gradient(135deg, #f0f8ff, #d8bfd8);

/*Dark colors*/
$primary-dark: #a093f0;
$text-dark: #eaeaea;
$head-dark: #b3b3cc;
$btn-dark: #7C83DB;
$btn-hover-dark: #5D5FCB;

$bg-gradient-dark: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
