@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background:$bg-gradient;
}



* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", serif;
  box-sizing: border-box;
  outline: none;
  color: $text;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

/*---------------Media Queries--------------*/
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1200px) {
}
