




.swal-dark-mode {
  .setTimer__modal {
    h2 {
      color: $white;
    }
    .modal__body {
      label {
        color: $white;
      }
      .clear__timer-btn {
        color: $white;

      }
    }
  }
}
